:root{
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --btn: #17a2b8;
    --white: #ffffff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --title: rgb(6, 81, 83);
    --warning: #ffc10731;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #000;
    --green: rgba(160, 241, 160, 0.616);

    --font-family-poppins: 'Poppins', sans-serif;
}
/* ----- REGRA GERAL----- */

*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
.flex-justify-start{
    display:flex;
    justify-content: flex-start;;
}

.flex-column{
    display:flex;
    flex-direction:column;
}

.flex-center{
    display:flex;
    justify-content: center;
    align-items: center;
}
.flex-start{
    display:flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.flex-alinhado{
    display:flex;
    align-items: center;
}

.flex-between{
    display:flex;
    justify-content: space-between;
}

.flex-around{
    display:flex;
    justify-content: space-around;
}
.flex-end{
    display:flex;
    justify-content: end;
}
body{
    background-color: var(--light);
}

nav ul {
    list-style-type: none;
}

a{
    color: var(--cyan);
    text-decoration:none;
}

.gap-trinta{
   gap:30px;
}


.width-full{
    width: 100%;
}

.btns{
    padding:15px;
    border:none;
    border-radius:30px;
    width: 100px;
    font-size:15px;
    color: var(--white);
    background-color: var(--btn);
    cursor:pointer;
}

.title{
   color: var(--title);
   font-size:22px;
}

.label{
    /* font-weight: bold; */
    font-size: 18px;
    margin-bottom:10px;
}

.required{
    color: var(--danger);
}

.medium-input{
    width: 280px;
    padding:10px 20px;
    border-radius:30px;
    border:none;
    margin-bottom:20px;
}
.short-input{
    width:205px;
    padding:10px 20px;
    border-radius:30px;
    border:none;
    margin-bottom:20px;
}

/* ----- Fim Regra Geral ---*/

/* ------------------------------------------------------------------------- */

/* ------- PÁGINA CENTRAL DE ATENDIMENTO - ACESS USER -----*/
section.main-container-agend{
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction:column;
    height: 100vh;
    
}

section.main-container-agend div.acess-user{
    border-radius:20px;
    background-color:var(--white);
    padding:12px;
    padding-right: 50px;
    padding-left: 50px;
    display:flex;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);   
}

.main-container-agend p{
    margin-bottom:20px;
    font-family: var(--font-family-poppins);
    font-size:20px;
    

}
div.acess-user label{
    /* align-self: flex-start; */
    font-family: var(--font-family-poppins);
}

.form-user{
    width: 100%;
    gap:5px; 
}

.form-user input{
    width: 100%; 
    padding: 10px; 
    border: 1px solid rgba(0, 123, 255, 0.354); 
    border-radius: 15px; 
    outline: none; /* Remove o estilo de borda padrão ao focar */
}
.form-user input::placeholder{
    /* color:#120567e9; */
    color:#120567a3;
}

.form-user .btns-acess{
    margin-top:10px;
}

.form-user .btn-acess{
    width: 100%;
    margin-top:15px;
    padding: 10px;
    border: 1px solid var(--cyan);
    background-color: rgba(6, 164, 159, 0.962);
    border-radius: 25px;
    color:var(--white); 
    padding:10px;
    font-weight: bold;
}
.form-user .btn-acess i{
    margin-right: 5px;
    font-size: 18px;
}

.img-patrocinadores{
    margin-top:25px;
    gap:10px;
}


/*------ FIM PÁGINA ACESSO USER ----*/

/* ---------------------------------------------------- */
/* ------ PÁGINA HOME ------- */

/*-----BARRA LATERAL - Aside --- */
.sidebar {
    background-color: rgba(162, 185, 190, 0.192);
    height: 100vh;
    width: 250px;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;  
    font-family: var(--font-family-poppins);
    color:rgba(19, 46, 95, 0.87);
}

aside .logo-sim img {
    margin-bottom: 30px;
}

nav ul .menu-item {
    background-color: rgba(0, 0, 255, 0.09);
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    margin-bottom: 10px;
    padding: 15px;
    cursor: pointer;
    width: 105%;
}

nav ul .menu-item i{
    margin-right: 5px;
    font-size:20px;
    color:rgba(19, 46, 95, 0.87);
}

.submenu {
    display: none;
    flex-direction: column;
    padding-left: 10px;
}

.submenu li{
    display: flex;
    align-items: center;

}

.submenu-toggle{
    display:flex;
    justify-content:space-between;
}

/* ---- HEADER ----*/
header {
    margin-left: 250px;
    /* background-color: #fefeff; */
    background-color: rgba(162, 185, 190, 0.192);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    padding: 20px;
    font-family: var(--font-family-poppins);
    color:var(--title);

}

header i{
    margin-right: 15px;
    font-size:35px;
    cursor:pointer;
}


/* ------- CONTEUDO PRINCIPAL -------- */
main.content {
    display: flex;
    margin-top: 20px; 
    margin-left: 250px; 
    padding: 20px;
    width: calc(100% - 250px); /* Ajuste da largura */
    min-height: calc(100vh - 80px); /* Para preencher a tela e evitar rolagem desnecessária */
}

/* Coluna esquerda */
.left-column {
    width: 65%;
    margin-right: 40px;
    font-family: var(--font-family-poppins);
}

/*------- CENTRAL DE AGENDAMENTO (INFO.TUTOR)------- */
.info-container {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.267);
}

.info-container div .titulo-central{
    font-family: var(--font-family-poppins);
    font-size:20px;
}

.info-container div p{
    margin-bottom:10px;
    text-align: justify;
    padding:10px;
    font-size:15px;
    line-height: 1.6;
}

.paws{
    margin-bottom:20px;
}

.btn-info-tutor button{
    background-color: var(--dark);
    border: none;
    color: var(--white);
    width: 60%;
    padding: 5px 15px;
    border-radius: 20px;
    cursor: pointer;
}

.btn-info-tutor button i{
    color:var(--red);
    font-size: 25px;
    margin-right: 10px;
}

.titulo-info-dog i{
    color:var(--red);
}

.body-info-dog i{
    vertical-align:middle; /* Alinha o ícone verticalmente com o texto */
    margin-right: 5px; 
    font-size: 22px;
}
/* -----FIM SECTION CENTRO DE AGENDAMENTO (INFO.TUTOR)----- */


/* -------- SECTION ABANDONO DE ANIMAIS------- */
.color-green {
    background-color: rgba(160, 241, 160, 0.616);
}

.titulo-info-dog i{
    margin-right: 15px;
    font-size:20px;
}
.titulo-info-dog img{
    margin-left: 15px;
    width:22px;
    height: 20px;

}

/* -------- FIM SECTION ABANDONO DE ANIMAIS------- */


/* ----- Coluna Direita ----- */
.right-column {
    width: 40%;
    font-family: var(--font-family-poppins);
}

.card {
    background-color: rgb(5, 121, 129);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.13);
    color:var(--white);
    cursor:pointer;
    text-align: center;
    
}

.card h2{
    font-size:16px;
    font-weight: bold;
    Color:var(--white);
    margin-bottom: 10px;
}

.card i{
    font-size:40px;
    color: var(--white);
}

.card p{
    font-size: 15px;
}
.card:hover{
    transform: scale(1.05);
    box-shadow: 0 0 28px #ffffff6e;
    
}

/* -----PÁGINA: MEUS DADOS (TUTOR)------ */
.main-tutor{
    margin-left: 260px; 
    min-height: calc(100vh - 80px); /* Para preencher a tela e evitar rolagem desnecessária */
}

section.content-tutor{
    display: flex;
    margin-top: 20px;
    margin-right: 10px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: rgba(0, 0, 255, 0.09);
    border-radius:20px;
}

.top-content-tutor{
    margin-bottom:40px;
}
.div-body-tutor{
    width: 71%;
}

.div-bottom-body-tutor{
    width: 62%;
    margin-top:25px;
}

.tips i{
    color: var(--red);
}

.tips{
    border:none;
    padding:5px 25px;
    border-radius:30px;
    background-color: var(--dark);
    color:var(--light);
    cursor:pointer;
}

section.content-tips{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-right: 10px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: var(--warning);
    border-radius:20px;
}

section.content-tips h4 i{
    color: var(--red);
}

section.content-tips span{
    text-decoration: underline;
}

/*-------------- Página Meus Pets ----------*/
.title-meus-pets{
    color:rgba(19, 46, 95, 0.87);
}

.main-meus-pets{
    margin-left: 260px; 
    min-height: calc(100vh - 80px); /* Para preencher a tela e evitar rolagem desnecessária */
}
section.content-meus-pets{
    display: flex;
    margin-top: 20px;
    margin-right: 10px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: rgba(194, 194, 201, 0.26);
    border-radius:20px;
}

.body-content-meus-pets h4{
    font-size:16px;
    color: #343a40;
}

.body-content-meus-pets input{
    margin-top:10px;
    border: 2px solid rgba(81, 160, 233, 0.247);
    background-color: #d1cbcb34; /* Define uma cor de fundo para diferenciar */
    color: #333; /* Cor do texto */
    cursor: default; /* Altera o cursor para indicar que não é editável */
    outline: none; /* Remove a borda de foco padrão do navegador */
}
.table-pets {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
    border: none;
}

.table-pets th, .table-pets td {
    border: 1px solid #33333318; /* Bordas ao redor das células */
    padding: 10px;
    text-align: start;
}

.table-pets th {
    background-color: rgba(20, 20, 119, 0.267);
    color: #095181;
    font-size:20px;
}

.table-pets tr td h4 strong i{
    font-size:20px;
    margin-right: 5px;
    color:var(--gray-dark);
}

.table-pets tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table-pets tr:hover {
    background-color: #ddd;
}

.table-pets tr i{
    cursor:pointer;
    color:var(--gray-dark);
    font-size: 30px;
}

