:root{
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #ffffff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --green: rgba(160, 241, 160, 0.616);

    --font-family-poppins: 'Poppins', sans-serif;
}
/* ----- REGRA GERAL----- */

*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
.flex-justify-start{
    display:flex;
    justify-content: flex-start;;
}

.flex-column{
    display:flex;
    flex-direction:column;
}

.flex-center{
    display:flex;
    justify-content: center;
    align-items: center;
}
.flex-start{
    display:flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.flex-alinhado{
    display:flex;
    align-items: center;
}

body{
    background-color: var(--light);
}

nav ul {
    list-style-type: none;
}

.flex-between{
    display:flex;
    justify-content: space-between;
}

.gap-trinta{
   gap:30px;
}

/* ----- Fim Regra Geral ---*/

/* ------------------------------------------------------------------------- */

/* ------- PÁGINA CENTRAL DE ATENDIMENTO - ACESS USER -----*/
section.main-container-agend{
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction:column;
    height: 100vh;
    
}

section.main-container-agend div.acess-user{
    border-radius:20px;
    background-color:var(--white);
    padding:12px;
    padding-right: 50px;
    padding-left: 50px;
    display:flex;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);   
}

.main-container-agend p{
    margin-bottom:20px;
    font-family: var(--font-family-poppins);
    font-size:20px;
    

}
div.acess-user label{
    /* align-self: flex-start; */
    font-family: var(--font-family-poppins);
}

.form-user{
    width: 100%;
    gap:5px; 
}

.form-user input{
    width: 100%; 
    padding: 10px; 
    border: 1px solid rgba(0, 123, 255, 0.354); 
    border-radius: 15px; 
    outline: none; /* Remove o estilo de borda padrão ao focar */
}
.form-user input::placeholder{
    /* color:#120567e9; */
    color:#120567a3;
}

.form-user .btns-acess{
    margin-top:10px;
}

.form-user .btn-acess{
    width: 100%;
    margin-top:15px;
    padding: 10px;
    border: 1px solid var(--cyan);
    background-color: rgba(6, 164, 159, 0.962);
    border-radius: 25px;
    color:var(--white); 
    padding:10px;
    font-weight: bold;
}
.form-user .btn-acess i{
    margin-right: 5px;
    font-size: 18px;
}

.img-patrocinadores{
    margin-top:25px;
    gap:10px;
}
/*------ FIM PÁGINA ACESSO USER ----*/

/* ---------------------------------------------------- */
/* ------ PÁGINA HOME ------- */

/*-----BARRA LATERAL - Aside --- */
.sidebar {
    background-color: rgba(162, 185, 190, 0.192);
    height: 100vh;
    width: 250px;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;  
    font-family: var(--font-family-poppins);
    color:rgba(19, 46, 95, 0.87);
}

aside .logo-sim img {
    margin-bottom: 30px;
}

nav ul .menu-item {
    background-color: rgba(0, 0, 255, 0.09);
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    margin-bottom: 10px;
    padding: 15px;
    cursor: pointer;
    width: 105%;
}

nav ul .menu-item i{
    margin-right: 5px;
    font-size:20px;
    color:rgba(19, 46, 95, 0.87);
}

.submenu {
    display: none;
    flex-direction: column;
    padding-left: 10px;
}

.submenu li{
    display: flex;
    align-items: center;

}

.submenu-toggle{
    display:flex;
    justify-content:space-between;
}

/* ---- HEADER ----*/
header {
    margin-left: 250px;
    background-color: #fefeff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    background-color: #f8f9fa;
    padding: 20px;
    font-family: var(--font-family-poppins);

}

header i{
    margin-right: 15px;
    font-size:35px;
    cursor:pointer;
}


/* ------- CONTEUDO PRINCIPAL -------- */
main.content {
    display: flex;
    margin-top: 20px; 
    margin-left: 250px; 
    padding: 20px;
    width: calc(100% - 250px); /* Ajuste da largura */
    min-height: calc(100vh - 80px); /* Para preencher a tela e evitar rolagem desnecessária */
}

/* Coluna esquerda */
.left-column {
    width: 65%;
    margin-right: 40px;
    font-family: var(--font-family-poppins);
}

/*------- CENTRAL DE AGENDAMENTO (INFO.TUTOR)------- */
.info-container {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.267);
}

.info-container div .titulo-central{
    font-family: var(--font-family-poppins);
    font-size:20px;
}

.info-container div p{
    margin-bottom:10px;
    text-align: justify;
    padding:10px;
    font-size:15px;
    line-height: 1.6;
}

.paws{
    margin-bottom:20px;
}

.btn-info-tutor button{
    background-color: var(--dark);
    border: none;
    color: var(--white);
    width: 60%;
    padding: 5px 15px;
    border-radius: 20px;
    cursor: pointer;
}

.btn-info-tutor button i{
    color:var(--red);
    font-size: 25px;
    margin-right: 10px;
}

.titulo-info-dog i{
    color:var(--red);
}

.body-info-dog i{
    vertical-align:middle; /* Alinha o ícone verticalmente com o texto */
    margin-right: 5px; 
    font-size: 22px;
}
/* -----FIM SECTION CENTRO DE AGENDAMENTO (INFO.TUTOR)----- */


/* -------- SECTION ABANDONO DE ANIMAIS------- */
.color-green {
    background-color: rgba(160, 241, 160, 0.616);
}

.titulo-info-dog i{
    margin-right: 15px;
    font-size:20px;
}
.titulo-info-dog img{
    margin-left: 15px;
    width:22px;
    height: 20px;

}

/* -------- FIM SECTION ABANDONO DE ANIMAIS------- */


/* ----- Coluna Direita ----- */
.right-column {
    width: 40%;
    font-family: var(--font-family-poppins);
}

.card {
    background-color: rgb(5, 121, 129);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.13);
    color:var(--white);
    cursor:pointer;
    text-align: center;
    
}

.card h2{
    font-size:16px;
    font-weight: bold;
    Color:var(--white);
    margin-bottom: 10px;
}

.card i{
    font-size:40px;
    color: var(--white);
}

.card p{
    font-size: 15px;
}
.card:hover{
    transform: scale(1.05);
    box-shadow: 0 0 28px #ffffff6e;
    
}


