<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--boostrap Icons-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css" rel="stylesheet">
    <!--Fim Boostrap Icons-->

    <!--Google Icons-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <!-- FIM Google Icons -->
    
    <!--Conexão CSS-->
    <link rel="stylesheet" href="../Css/styles.css">
    
    <!--Fim conexão CSS-->
    <title>Hospital veterinário Slz</title>


</head>

<body>
    <!-- Barra lateral -->
    <aside class="sidebar"> <!--Barra lateral-->
        <div class="logo-sim">
            <img src="/imgs/logo-sim-alfred.png" alt="Logo SIM-Alfred">
        </div><!--Logo-SIM-->
        
        <nav>
            <ul>
                <li class="menu-item">
                    <i class="bi bi-house-fill"></i>
                    <span style="font-weight: bold;">
                        <a href="">Ínicio</a>
                    </span>
                </li>
                <li class="menu-item  flex-column">
                    <div class=" submenu-toggle flex-center flex-start">
                        <div class="flex-center">
                        <i class="material-symbols-outlined">pets</i>
                        <span style="font-weight: bold;">Veterinário</span>
                        </div><!--flex-center-->

                        <div><!--arrow-->
                        <i class="material-symbols-outlined">keyboard_arrow_down</i>
                        </div><!--arrow-->
                    </div>
                    
                    <ul class="submenu">
                        <li><i class="bi bi-person-fill"></i>
                            <a href="">Meus Dados (Tutor) </a> 
                        </li>
                        <li><img src="../imgs/pet-aside.png" alt="" width="20px"; style="margin-right:5px;">Meus Pets</li>
                        <li><i class="material-symbols-outlined">
                            calendar_month
                        </i>Agendamento</li>
                    </ul>
                </li>
            </ul>
        </nav>

    </aside><!--sidebar-->

    <!-- ----- HEADER------ -->
    <header class="flex-between">
        <div class="flex-center">
            <i class="bi bi-list"></i>
            <p>HMV-SLZ</p>
        </div>
        
        <div class="flex-center">
            <i class="bi bi-person-circle"></i>
            <p>Olá, usuário</p>
        </div>
    </header>
    <!-- ----- FIM HEADER------ -->

    <!-- Conteudo Principal -->
    <main class="content">
        <div class="left-column">

            <!-- CENTRAL DE ATENDIMENTO (INFO.TUTOR) -->
            <section class="info-container">
                <div class="flex-center flex-column">
                    <img src="../imgs/logo-prefeitura.png" alt="Logo prefeitura" width= 300px;>
                    <p class="titulo-central">Central de Agendamento</p>
                    <p>Seu cadastro como tutor já foi realizado. Agora realize o(s) cadastro(s) do(s) seu(s) Pet(s) clicando no botão "Meus Pets".
                    Após isso, clique no botão "Meus Agendamentos" para visualizar os dias e vagas disponíveis para agendamento.</p>
                </div>
                <div class="paws flex-center">
                    <i class="material-symbols-outlined">pets</i>
                    <i class="material-symbols-outlined">pets</i>
                    <i class="material-symbols-outlined">pets</i>
                </div>
                <div class=" btn-info-tutor flex-center">
                    <button class="flex-center">
                        <i class="material-symbols-outlined">person</i>
                        Clique aqui para saber sobre o Tutor
                    </button>
                </div>
            </section><!--info-container-->
            <!-- FIM CENTRAL DE ATENDIMENTO (INFO.TUTOR) -->

            <!-------- SECTION ABANDONO DE ANIMAIS------->
            <section class="info-container color-green">
                <div class="titulo-info-dog flex-center">
                    
                    <p>
                        <strong>
                          <i class="bi bi-exclamation-triangle-fill"></i>ABANDONAR ANIMAIS É CRIME!
                        </strong>
                            <img src="../imgs/pet.png" alt="dog-red" width="20px;">
                    </p>
                    
                </div><!--titulo-info-dog-->

                <div class="body-info-dog">
                    <p><i class="material-symbols-outlined">pets</i>O crime de abandono e maus tratos de animais é regido pela Lei de Crimes Ambientais (Lei nº 9.605/1998). É crime abandonar, ferir, mutilar ou maltratar animais domésticos ou silvestres e a lei prevê 2 a 5 anos de reclusão para quem o pratica.</p>

                    <p><i class="material-symbols-outlined">pets</i>Portanto, é estritamente proibido e repudiado qualquer tipo de Abandono e Maus Tratos de Animais nas instalações e redondezas do Hospital Municipal Veterinário, passível de denuncia e/ou prisão em flagrante pelos órgãos competentes.</p>
                    <p><i class="material-symbols-outlined">pets</i>Desta forma, todo animal cadastrado em seu CPF está sob sua responsabilidade e cuidados. Em casos de internação é obrigatório a retirada do seu Pet após a alta médica dentro do prazo determinado pelo HMV-SLZ.</p>
                </div>
            </section><!--info-container color-green-->
            <!-- FIM SECTION ABANDONO DE ANIMAIS -->

            <!-- SECTION LOGOS PATROCINIOS -->
            <section class="info-container flex-center gap-trinta">
                <img src="../imgs/logo-sim-alfred.png" alt="Logo SIM Alfred" width="100px">
                <img src="../imgs/logo-instituto-transformar.png" alt="Logo Instituto Transformar" width="150">
            </section><!--info-container flex-center gap-trinta-->
        </div><!--Left Column-->

        <!-- Coluna Direita -->
        <div class="right-column">
            <!-- CARDS BTNS INFORMATIVOS -->
            <div class="card">
                <i class="bi bi-person-fill"></i>
                <div class="flex-center">
                    <h2>Meus Dados (Tutor)</h2>
                </div>
                <div class="flex-center">
                    <p>Clique aqui para manter os dados do tutor atualizados.</p>
                </div>
            </div><!--card tutor-->

            <div class="card">
                <img src="../imgs/pet-white.png" alt="" width="40px;">
                <div class="flex-center">
                    <h2>Meu(s) Pet(s)</h2>
                </div>
                <div class="flex-center">
                    <p>Clique aqui para atualizar os dados do(s) seu(s) Pet(s).</p> 
                </div>
                <div class="icon-background img-pet"></div>
            </div><!--card Pets-->

            <div class="card">
                <i class="material-symbols-outlined">calendar_month</i>
                <div class="flex-center">
                    <h2>Meus Agendamentos</h2>
                </div>
                <div class="flex-center">
                    <p>Clique para gerenciar os seus Agendamentos.</p>
                </div>
                <div class="icon-background img-gerenciamento"></div>
            </div><!--card Agendamentos-->
            <!-- FIM CARDS BTNS INFORMATIVOS -->
        </div><!--Right Column-->
    </main>


</body>


</html>